<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title><%= htmlWebpackPlugin.options.title %></title>
<!-- Load angular modules early to avoid page flicker and to split libs from app bundles -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.min.js'></script>
</head>
<!-- App starts here -->
<body ng-app="loginApp">
  <!-- Bind main controller here -->
  <main ng-controller="mainCtrl">
    <!-- Load view routes here -->
    <ng-view></ng-view>
  </main>
</body>
</html>