/**
 * *******************************************************
 *
 *  The app.scss file binds the SASS components and modules (bundling entry point).
 *
 *  @author     Dan Carr
 *  @date       February 2017
 *
 * *******************************************************
 */

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  padding: 50px;
  background-color: gray;
  font-family: 'Arial', sans-serif;
  font-size: 2em;
  color: white;
}

// ------------------
// MANIFEST

/* Containers: */
// @import "./containers/app/App.scss";

/* Components: */
@import "./components/calculator/calculator.scss";